Repository GispoCoding/eis_toolkit, pull requests merged in 2024-01, with the labels that each got.

#252 129 add MLP
  docs/prediction/mlp.md
  eis_toolkit/exceptions.py
  eis_toolkit/prediction/mlp.py
  tests/prediction/mlp_test.py
Labels: enhancement, Modelling

#255 99 create surface derivatives re init
  eis_toolkit/raster_processing/derivatives/classification.py
  eis_toolkit/raster_processing/derivatives/parameters.py
  eis_toolkit/raster_processing/derivatives/partial_derivatives.py
  eis_toolkit/raster_processing/derivatives/utilities.py
  eis_toolkit/utilities/checks/raster.py
  eis_toolkit/utilities/conversions.py
  notebooks/testing_surface_attributes_and_derivatives.ipynb
  tests/data/remote/nonsquared_pixelsize_raster.tif
  tests/raster_processing/derivatives/classify_aspect_test.py
  tests/raster_processing/derivatives/first_order_derivatives_test.py
  tests/raster_processing/derivatives/second_order_derivatives_test.py
  tests/utilities/conversions_test.py
Labels: enhancement, preprocessing

#281 270 change check raster grids to take in raster profiles instead of raster data
  docs/raster_processing/check_raster_grids.md
  eis_toolkit/cli.py
  eis_toolkit/raster_processing/check_raster_grids.py
  eis_toolkit/raster_processing/clipping.py
  eis_toolkit/raster_processing/snapping.py
  eis_toolkit/raster_processing/unique_combinations.py
  eis_toolkit/utilities/checks/crs.py
  eis_toolkit/utilities/checks/raster.py
  eis_toolkit/validation/calculate_base_metrics.py
  tests/checks/check_raster_grids_test.py
Labels: modification

#274 Added extract shared lines CLI function
  eis_toolkit/cli.py
Labels: CLI

#276 Added calculate geometry CLI function
  eis_toolkit/cli.py
Labels: CLI

#291 290 add/fix unify rasters CLI function
  eis_toolkit/cli.py
Labels: preprocessing, CLI

#294 Add resample_raster_cli function
  eis_toolkit/cli.py
Labels: preprocessing, CLI
